* {
    padding: 0;
    margin: 0;
}

header {
    width:  100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    background-color: sienna;
}

section.logo-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

picture.logo {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img.logo-img {
    width: 100px;
    height: 100px;
    border-radius: 30px;
}

h1.logo-name {
    font-size: 1.5rem;
    margin-left: 25px;
}


ul {
    list-style-type: none;
}

main {
    min-height: calc(100vh - 145px);
}

footer {
    width: 100%;
    height: auto;
    background-color: sienna;
    text-align: center;
}