@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Averia Sans Libre", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
    width:  100%;
    height: 110px;
    display: flex;
    justify-content: space-evenly;
    background-color: sienna;
}

section.logo-img {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 5px;
}

picture.logo {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    box-shadow: 0px 0px 1px 1px rgb(232, 132, 55);
}

img.logo-img {
    width: 100px;
    height: 100px;
    border-radius: 30px;
}

h1.logo-name {
    font-size: 1.5rem;
    margin-left: 25px;
    font-weight: 700;
}

nav.navegacao-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    display: flex;
    gap: 10px;
    list-style-type: none;
}

ul li a{
    text-decoration: none;
    background-color: rgb(232, 132, 55);
    padding: 8px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
}

    ul li a:hover {
    color: black;
    background-color: #fcc647;
}


main {
    min-height: calc(100vh - 145px);
}

footer {
    width: 100%;
    height: auto;
    background-color: sienna;
    text-align: center;
}